@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PageAnalyzerNET.ViewModels.PaginatedListViewModel<Url>

<div class="container-lg mt-5 mb-5">
    <table class="table table-bordered table-hover mt-3">
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th>Имя</th>
            <th class="col-2">Последняя проверка</th>
            <th class="col-1">Код ответа</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var url in Model)
        {
            <tr>
                <td>@url.Id</td>
                <td>
                    <a asp-action="Show" asp-controller="Url" asp-route-id="@url.Id">@url.Name</a>
                </td>
                <td>@url.GetLastCheckDatetime()</td>
                <td>@url.GetLastCheckStatus()</td>
            </tr>
        }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "visually-hidden" : "";
        var nextDisabled = !Model.HasNextPage ? "visually-hidden" : "";
        var presDisabled = Model.TotalPages < 2 ? "visually-hidden" : "";
    }
    
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-5 mb-5">
            <li class="page-item @prevDisabled">
                <a asp-action="Index" asp-controller="Url"
                   asp-route-page="@(Model.PageIndex - 1)"
                   class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link @presDisabled">@Model.PageIndex</a>
            </li>
            <li class="page-item @nextDisabled">
                <a asp-action="Index" asp-controller="Url"
                   asp-route-page="@(Model.PageIndex + 1)"
                   class="page-link" aria-label="Next">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>